#cal {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding-top: 100px;
}

#cal button {
    width: 75px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10%;
    color: white;
  }
  
  #header {
    padding: 2%;
    color: #9b1616;
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 800px;
    background-color: #c0d1be;
    padding-left: 30px;
    padding-right: 2px;
    padding-bottom: 15px;
    border: 5px solid rgb(212, 212, 30, 0.5);
  }
  #weekdays {
    width: 96%;
    display: flex;
    color: #c4d9e2;
    background-color: #247BA0;
  }
  #weekdays div {
    width: 110px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 1%;
    height: 90px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: 40%;
    top: 20%;
    position: absolute;
    background-color: #84bfd8;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 12px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
  }